= render "shared/page_title", title: t("sidebar.notification")

#contents
  - milestones = ScorecardProgress.statuses.keys
  - milestones.each_with_index do |milestone, index|
    = render 'message', milestone: milestone

    - if index < milestones.length - 1
      .veticial-line
