= render "messages/nav_tabs"

.card.shadow
  .card-body
    - milestones = ScorecardProgress.statuses.keys
    - milestones.each_with_index do |milestone, index|
      = render 'message', milestone: milestone

      - if index < milestones.length - 1
        .veticial-line
