- if policy(scorecard).request_change?
  %a.d-inline-block.position-relative{ data: { toggle: 'popover', trigger: 'focus', html: 'true', content: sanitize(render(template: 'scorecards/request_changes/popup', locals: {scorecard: scorecard}))}, role: 'button', tabindex: '0'}

    %span{ class: 'btn btn-circle btn-sm btn-outline-info mr-1', data: { toggle: 'tooltip', placement: 'top', title: t('scorecard.request_change')}}
      %i.fas.fa-comment-dots

    - if scorecard.request_changes.submitteds.size > 0
      %span.full-stop
