- disabled ||= false
- sub_title = sub_title.presence || '_'

.card
  .card-header
    .d-flex
      .flex-grow-1= label

  .card-body
    .d-flex
      .flex-1= disabled ? '_' : sub_title

      %div
        - unless disabled
          = link_to t("shared.view_detail"), url, remote: true, class: "btn btn-primary"
