%input.input-for-copy{ value: scorecard_url(scorecard.uuid) }
%a.btn.btn-default.btn-copy.p-0.text-dark{href: '#'}
  %i.far.fa-copy
%span.btn-check.d-none{"data-placement" => "right", :title => "Copied!", "data-trigger": :focus}
  %i.fas.fa-check.text-success
