# App info
APP_NAME=Community Scorecard
APP_SHORTCUT_NAME=
APP_VERSION=0.0.1
HOST_URL=http://localhost:3000

# App config
DB_HOST=db
DB_USER=postgres
DB_PWD=
RAILS_MAX_THREADS=5

# rack-attack
SAFELIST_IPS=127.0.0.1 #semi-colon separate
BLOCKLIST_IPS=10.10.10.1;10.10.10.2 #semi-colon separate
THROTTLE_PERIOD_IN_SECOND=2
THROTTLE_REQUEST_LIMIT=5

# For Sidekiq
REDIS_URL=redis://redis:6379

# Device config
MAILER_SENDER=please-change-me-at-config-initializers-devise@example.com

# SMTP config
SETTINGS__SMTP__ADDRESS=smtp
SETTINGS__SMTP__DOMAIN=domain
SETTINGS__SMTP__USER_NAME=smtp
SETTINGS__SMTP__PASSWORD=smtp
SETTINGS__SMTP__PORT=1025
SETTINGS__SMTP__HOST=localhost:3000
SETTINGS__SMTP__DEFAULT_FROM=notifications@example.org

# Sentry config
SENTRY_DSN=url

# Google Oauth2
GOOGLE_CLIENT_ID=client_id
GOOGLE_CLIENT_SECRET=client_secret

# User token
TOKEN_EXPIRED_IN_DAY=1

# S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_NAME_OF_BUCKET=
AWS_REGION=

# Timezone
TIME_ZONE=Bangkok

# For testing server
ENABLE_RESET_DATA_SCHEDULE=false

# Telegram url
TELEGRAM_CALLBACK_URL=https://ngrok.io/telegram

# Recaptcha
RECAPTCHA_SITE_KEY=site_key
RECAPTCHA_SECRET_KEY=site_secret

# About Page
CSC_SUPPORT_EMAIL=support@digital-csc.org
APP_PLAY_STORE_URL=https://play.google.com/store/apps/details?id=org.instedd.ilabsea.community_scorecard

# Push Mobile Notification
FIREBASE_SERVER_KEY=

ACTIVITY_LOG_PATHS=---specify controllers that want to log---

# Grafana Dashboard
GF_DASHBOARD_URL=http://localhost:8000/login/generic_oauth
GF_DASHBOARD_ADMIN_USERNAME=admin
GF_DASHBOARD_ADMIN_PASSWORD=password
GF_DASHBOARD_BASE_URL=http://localhost:8000

# Grafana Datasource
GF_DATASOURCE_TYPE=postgres
GF_DATASOURCE_URL=localhost:5432
GF_DATASOURCE_DATABASE=csc_web_development
GF_DATASOURCE_USER=postgres
GF_DATASOURCE_PASSWORD=password

ACTIVITY_LOGGABLE_PERIODIC_IN_MINUTE=1

# Elasticsearch
ELASTICSEARCH_ENABLED=false
