# App info
APP_NAME=Community Scorecard
APP_SHORTCUT_NAME=
APP_VERSION=0.0.1

# App config
DB_HOST=db
DB_USER=postgres
DB_PWD=
RAILS_MAX_THREADS=5

# Device config
MAILER_SENDER=please-change-me-at-config-initializers-devise@example.com

# SMTP config
SETTINGS__SMTP__ADDRESS=smtp
SETTINGS__SMTP__DOMAIN=domain
SETTINGS__SMTP__USER_NAME=smtp
SETTINGS__SMTP__PASSWORD=smtp
SETTINGS__SMTP__PORT=1025
SETTINGS__SMTP__HOST=localhost:3000

# Sentry config
SENTRY_DSN=url

# Google Oauth2
GOOGLE_CLIENT_ID=client_id
GOOGLE_CLIENT_SECRET=client_secret

# User token
TOKEN_EXPIRED_IN_DAY=1
