SETTINGS__SMTP__ADDRESS=smtp
SETTINGS__SMTP__DOMAIN=domain
SETTINGS__SMTP__USER_NAME=smtp
SETTINGS__SMTP__PASSWORD=smtp
SETTINGS__SMTP__PORT=1025
SETTINGS__SMTP__HOST=localhost:3000

APP_NAME=Care Score card
APP_SHORTCUT_NAME=CSC
APP_VERSION=0.0.1

SENTRY_LOGGER_DSN=url

GOOGLE_CLIENT_ID=client_id
GOOGLE_CLIENT_SECRET=client_secret
