.learn-more
  %h6.font-weight-bold សម្រាប់អ្នកមិនមានគណនីហើយដែលចង់ស្វែងយល់បន្ថែម
  %p if you don't have an account and want to learn more

.contact
  %h6.font-weight-bold សូមទាក់ទងមកយើងតាមរយៈ support@digital-csc.org
  %p Please reach out to use via: support@digital-csc.org