.w-50.view-center
  = simple_form_for @template do |f|
    = f.input :name, label: t('category.name')

    .actions
      = f.submit t('shared.save'), class: 'btn btn-primary'
      = link_to t('shared.cancel'), templates_path, class: 'btn btn-secondary'
