= render 'scorecards/page_title'

#contents
  = render 'shared/scorecard_tab_nav'

  .border-right.border-left.border-bottom.bg-white
    .card-body
      %table.table.table-bordered
        %thead
          %tr
            %th{:scope => "col"} Which criteria have been raised?
            %th{:scope => "col"} How many times?

        %tbody
          - @tags.each do |tag|
            %tr
              %td= tag["name"]
              %td= tag["count"]
