= simple_form_for :q, method: :get, html: { class: "form-inline mb-3" } do |f|
  = f.input :http_format, label: false, collection: [['Format', ''], ['HTML','html'], ['JSON','json']], selected: params[:http_format], input_html: { name: "http_format" }, wrapper_html: { class: "mr-2" }
  = f.input :http_method, label: false, collection: [['Method', ''], ['GET', 'GET'], ['POST', 'POST'], ['PUT', 'PUT'], ['DELETE', 'DELETE']], selected: params[:http_method], input_html: { name: "http_method" }, wrapper_html: { class: "mr-2" }

  #start_date.input-group.dateinput.mr-2.date{"data-target-input" => "nearest"}
    %input.form-control.datetimepicker-input{"data-target" => "#start_date", "data-toggle": "datetimepicker", :type => "text", placeholder: "Start date", name: "start_date", value: params[:start_date], autocomplete: "off"}
    .input-group-append{"data-target" => "#start_date", "data-toggle" => "datetimepicker"}
      .input-group-text
        %i.fa.fa-calendar

  #end_date.input-group.dateinput.mr-2.date{"data-target-input" => "nearest"}
    %input.form-control.datetimepicker-input{"data-target" => "#end_date", "data-toggle": "datetimepicker", :type => "text", placeholder: "End date", name: "end_date", value: params[:end_date], autocomplete: "off"}
    .input-group-append{"data-target" => "#end_date", "data-toggle" => "datetimepicker"}
      .input-group-text
        %i.fa.fa-calendar

  = f.submit "search", class: "btn btn-primary"
