- content_for :title do
  = t("activity_logs.title")

= render "filter"

.card.shadow.mb-4
  .card-body
    = render "shared/pagination_title"
    = render @activity_logs.any? ? 'activity_logs_table' : 'no_data'
