// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .btn-circle {
    margin: 0 2px !important;
  }

  .btn-circle.btn-sm {
    width: 1.6rem;
    height: 1.6rem;
    font-size: 0.6rem;
  }

  .view-center {
    width: 100% !important;
  }
}
