html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
}

#content {
  width: 100%;
  padding: 0 20px 20px 20px;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.notify-message {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}

.medium-width {
  width: 90%;
  margin: 0 auto;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.view-center {
  margin: 0 auto;
}

.actions {
  margin-top: 30px;
}

.pointer {
  cursor: pointer;
}

.no-data {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pagy-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
}

.file-control-wrapper {
  display: flex;
  align-items: center;
  overflow: hidden;

  input:focus {
    outline: none;
  }
}

.toast-wrapper {
  .toast {
    position: absolute;
    top: 10px;
    right: 100px;
  }
}

.input-for-copy {
  position: absolute;
  left: -100%;
  opacity: 0;
}

.actions {
  text-align: right;
}

.flex-1 {
  flex: 1;
}

.search-input {
  width: 300px !important;
}

.text-black {
  color: #212529;
}

.rounded-xl {
  border-radius: 1rem !important;
}

.fs-xs {
  font-size: 0.8em;
}

.w-search {
  width: 300px !important;
}

.action-buttons {
  min-width: 90px;
}

.disabled-bg {
  background-color: rgba(0,0,0,0.1);
  opacity: .65;
}
