.badge {
  font-weight: 400;

  &-role {
    color: #fff;
  }

  &-lngo {
    background-color: #dfb84e;
  }

  &-staff {
    background-color: #045aa0;
  }

  &-program_admin {
    background-color: #a004a0;
  }

  &-system_admin {
    background-color: #a00404;
  }
}

.badge-warning {
  background-color: #f4b619;
}
