.filter-input
  #daterange.form-control.pointer.d-flex.align-items-center
    %span{'data-placeholder' => t('scorecard.filter_by_date')}= t('scorecard.filter_by_date')
    .flex-grow-1
    %i.fa.fa-calendar.ml-2

  %input.start-date{ type: 'hidden', name: 'start_date', value: params[:start_date] }
  %input.end-date{ type: 'hidden', name: 'end_date', value: params[:end_date] }
