%ul.nav.nav-tabs
  %li.nav-item{class: css_active_tab(params[:filter].blank?)}
    %a.nav-link{href: scorecards_path}
      = t('scorecard.all').titleize
  %li.nav-item{class: css_active_tab(params[:filter]=='planned')}
    %a.nav-link{href: scorecards_path(filter: 'planned')}
      = t('scorecard.planned').titleize
  %li.nav-item{class: css_active_tab(params[:filter]=='in_review')}
    %a.nav-link{href: scorecards_path(filter: 'in_review')}
      = t('scorecard.in_review').titleize
  %li.nav-item{class: css_active_tab(params[:filter]=='completed')}
    %a.nav-link{href: scorecards_path(filter: 'completed')}
      = t('scorecard.completed').titleize
