%form{ action: '/scorecards/settings/local_ngos', method: 'get' }
  .form-row
    .form-group
      .input-group
        = text_field_tag(:keyword, params[:keyword], class: 'form-control', placeholder: t('local_ngo.search'))
        .input-group-append
          .input-group-text
            %i.fas.fa-search
