%a.btn.btn-secondary.btn-sm.shadow-sm{ "data-target" => "#importModal", "data-toggle" => "modal", href: '#' }
  %i.fas.fa-file-import.fa-sm.text-white-50
  = t("shared.import_from_file")

= render "shared/modals/modal_import_excel"
