%a.btn.btn-secondary.btn-sm.shadow-sm{ "data-target" => "#importModal", "data-toggle" => "modal", href: '#' }
  %i.fas.fa-file-import.fa-sm.text-white-50
  = t("shared.import_from_file")

%a.btn.btn-secondary.btn-sm.shadow-sm{ href: '/local_ngo_and_caf.xlsx', target: "_blank" }
  %i.fas.fa-cloud-download-alt.fa-sm.text-white-50
  = t("shared.download_sample_form")

= render "modal_import_local"
