- remote ||= false

- if policy(object).update?
  = link_to edit_url, remote: remote, class: "btn btn-circle btn-sm btn-outline-warning mr-1", data: { toggle: 'tooltip', placement: 'top', title: t('shared.edit')} do
    %i.fas.fa-pen

- if policy(object).destroy?
  %span{data: {toggle: 'tooltip', placement: 'top', title: t('shared.delete')}}
    = link_to delete_url, class: "btn btn-circle btn-sm btn-outline-danger", remote: true do
      %i.fas.fa-trash-alt
