- if policy(object).update?
  %a.btn.btn-circle.btn-sm.btn-warning.mr-1{ "data-toggle" => "tooltip", "data-placement" => "top", title: t("shared.edit"), href: edit_url}
    %i.fas.fa-pen

- if policy(object).destroy?
  = link_to delete_url, method: :delete, class: "btn btn-circle btn-sm btn-danger", data: { confirm: t('shared.are_you_sure_to_delete'), toggle: 'tooltip', placement: 'top', title: t('shared.delete') } do
    %i.fas.fa-trash-alt
