- label ||= t("shared.import_from_file")

%a.btn.btn-secondary.btn-sm.shadow-sm.mr-1{ "data-target" => "#importModal", "data-toggle" => "modal", href: '#' }
  %i.fas.fa-file-import.fa-sm.text-white-50
  = label
