- objects ||= []
- url ||= ''
- label ||= t("shared.add_new")
- remote ||= false

.d-flex.mb-3
  - if objects.present?
    .pagy-wrapper
      .d-flex.flex-grow-1
        .flex-grow-1.d-flex.align-items-center.mb-2
          %span= t('shared.pagination_title', from: @pagy.from, to: @pagy.to, total: @pagy.count).html_safe

        - if @pagy.pages > 1
          != pagy_bootstrap_nav(@pagy)


  .flex-grow-1
  - if url.present?
    = link_to url, remote: remote, class: "btn btn-primary btn-sm shadow-sm" do
      %i.fas.fa-plus.fa-sm.text-white-50
      = label
