- hide_pagy ||= false

.d-flex.mb-3.flex-grow-1
  %span= pagy_label(@pagy)

  .flex-grow-1
    = yield :pagination_title_center

  - if !hide_pagy && @pagy.pages > 1
    .d-lg-block.d-none
      != pagy_bootstrap_compact_nav(@pagy)

  = yield
