= render "shared/headers/progress_arrow_header", title: t("local_ngo_batch.importing_local_ngo_wizard")

= render "shared/forms/wizard_form", cancel_url: local_ngos_path, sample_url: sample_local_ngo_importers_path(format: 'xlsx'), item: @batch, form_url: local_ngo_importers_path
