- disabled ||= false
- sub_title = sub_title.presence || '_'
- in_review ||= false
- label_button = in_review ? t("shared.review") : t("shared.view_detail")

.card
  .card-header
    .d-flex
      .flex-grow-1= label

  .card-body
    .d-flex
      .flex-1= disabled ? '_' : sub_title

      - unless disabled
        %div
          = link_to label_button, url, remote: !in_review, class: "btn btn-primary"

