= render "progress_arrow_header"

= render "shared/forms/wizard_form", cancel_url: scorecards_path, sample_url: sample_scorecard_batches_path(format: 'xlsx'), item: @scorecard_batch, form_url: scorecard_batches_path
