.d-sm-flex.align-items-center.justify-content-between.mb-4
  %h1.h3.mb-0.text-gray-800= t("primary_school.primary_schools")

  .d-flex.mt-3.mt-md-0.justify-content-end
    %a.btn.btn-secondary.btn-sm.shadow-sm.mr-2{ "data-target" => "#importModal", "data-toggle" => "modal", href: '#' }
      %i.fas.fa-file-import.fa-sm.text-white-50
      = t("shared.import_from_file")

    %a.btn.btn-secondary.btn-sm.shadow-sm{ href: new_primary_school_path }
      %i.fas.fa-plus.fa-sm.text-white-50
      = t("shared.add_new")

= render "modal_import_from_file"
