.d-sm-flex.align-items-center.justify-content-end
  .d-flex.mt-3.mt-md-0.justify-content-end.mb-2
    - if policy(PrimarySchool).create?
      %a.btn.btn-secondary.btn-sm.shadow-sm.mr-2{ "data-target" => "#importModal", "data-toggle" => "modal", href: '#' }
        %i.fas.fa-file-import.fa-sm.text-white-50
        = t("shared.import_from_file")

      = render "shared/buttons/add_new_button", name: t("primary_school.primary_schools"), url: new_primary_school_path

      = render "modal_import_from_file"
