.facility-wrapper{'data-facilities' => current_program.facilities.leaves.to_json}
  %input.facility{type: :hidden, value: @scorecard.facility_id}

- current_year = Date.today.year
= f.input :year, label: t('scorecard.year'), collection: [current_year + 1, current_year, current_year - 1], input_html: { class: 'custom-select'}

= f.input :scorecard_type, label: t('scorecard.scorecard_type'), collection: program_scorecard_types, input_html: { class: 'custom-select'}

= render "scorecards/location_fields", f: f

= f.input :changed_reason
