/ Form
.w-25.view-center
  = simple_form_for @request_change, url: form_url, method: form_method do |f|
    = render 'form', f: f

    .actions
      = f.submit submit_label, class: 'btn btn-primary'

      = link_to t('shared.cancel'), scorecards_path, class: 'btn btn-secondary'
