- bot = current_program.telegram_bot

.dotted-line.d-flex
  %label.flex-1
    = t('program.telegram_notification')

    - if bot.present? && bot.enabled? && bot.actived?
      %i.far.fa-check-circle.text-success{'data-toggle'=> 'tooltip', title: t('telegram_bot.valid_bot')}
    - else
      %i.far.fa-times-circle.text-danger{'data-toggle'=> 'tooltip', title: t('telegram_bot.invalid_bot')}

  %div
    %a.pointer.badge.badge-info.text-white{href: telegram_bot_path, 'data-remote' => true}= t('shared.setup')

= render 'programs/telegram_bots/modal'
