.stackholders {
  $height: 80px;

  .img-funded {
    height: $height;
  }

  .img-implemented {
    height: $height / 2;
  }

  .img-implemented-wrapper {
    height: $height;
    & > a:not(:last-child), & > span:not(:last-child) {
      margin-right: 15px;
    }
  }
}

.stackholders-lg {
  $height-lg: 56px;

  .img-funded {
    height: $height-lg *2;
  }

  .img-implemented {
    height: $height-lg;
  }

  .img-implemented-wrapper {
    height: $height-lg *2;
  }
}

// V2-----------
.stackholders.v2 {
  $height: 60px;

  .img-funded {
    height: $height;
  }

  .img-implemented {
    height: 36px;
  }

  .ycc-logo {
    height: 40px;
  }

  .img-implemented-wrapper {
    height: $height;
  }
}

.stackholders-lg.v2 {
  $height-lg: 86px;

  .img-funded {
    height: $height-lg;
  }

  .img-implemented {
    height: 50px;
  }

  .ycc-logo {
    height: 56px;
  }

  .img-implemented-wrapper {
    height: $height-lg;
  }
}
