#content
  = render 'shared/scorecard_tab_nav'

  .border-right.border-left.border-bottom.bg-white
    .card-body
      %h3 Voting Indicators
      - @voting_indicators.each do |indicator|
        %div
          %span= "#{indicator.indicatorable.name}: #{indicator.median}"
