#content
  = render 'shared/scorecard_tab_nav'

  .border-right.border-left.border-bottom.bg-white
    .card-body
      %table.table.table-bordered
        %thead
          %tr
            %th{:scope => "col"} Which indicators best represent these themes?
            %th{:scope => "col"} Median Score
            %th{:scope => "col"} Why did the group choose this score?

        %tbody
          - @voting_indicators.each do |indicator|
            %tr
              %td= indicator.indicatorable.tag_name
              %td= VotingIndicator.medians[indicator.median]
              %td= indicator.median.humanize
