#content
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %h3= t('indicator.new_indicator')

  .w-75.view-center
    = simple_form_for @indicator do |f|
      = render 'form', f: f
