.facilities {
  .facility-header {
    padding: 0.75rem;
    border-top: 1px solid #e3e6f0;
    border-bottom: 1px solid #e3e6f0;
  }

  .facility {
    padding: 0.75rem;
    border-top: 1px solid #e3e6f0;
  }

  .sub-facility {
    padding-left: 3rem;
  }

  .name {
    min-width: 400px;
  }
}
