// Place all the styles related to the medians controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.rating-wrapper {
  width: 60px;
  padding: 2px;
  margin-right: 6px;
  background-color: #d8d8d8;
  border-radius: 15px;
  margin-top: 6px;
}
