@import "bootstrap";
@import "sb-admin-2";

// Read PDF_FONT.md for concept
body, html, * {
  font-family: 'Battambang', sans-serif;
}

.font-title {
  font-family: 'Moul' !important;
}

.table.border-0 {
  border: none;

  td {
    border: none;
  }
}

.participant-profile {
  background-color: rgba(0,0,0,0.08);
  font-size: 0.75em;
  border-radius: 3px;
}
