#primary_schools-index {
  .filter-input {
    width: 250px;
  }

  @media (max-width: 576px) {
    .filter-input {
      width: 100%;
      margin: 15px 0;
    }

    .btn-search-wrapper {
      text-align: right;
    }
  }
}
