// Place all the styles related to the scorecards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//===** Sortable column **===
.pretty th .current,
.pretty .facility-header .current {
  padding-right: 18px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .sortable,
.pretty .facility-header .sortable {
  padding-right: 18px;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAkElEQVQoz7X QMQ5AQBCF4dWQSJxC5wwax1Cq1e7BAdxD5SL+Tq/QCM1oNiJidwox0355mXnG/DrEtIQ6azioNZQxI0ykPhTQIwhCR+BmBYtlK7kLJYwWCcJA9M4qdrZrd8pPjZWPtOqdRQy320YSV17OatFC4euts6z39GYMKRPCTKY9UnPQ6P+GtMRfGtPnBCiqhAeJPmkqAAAAAElFTkSuQmCC");
}

.pretty th .asc,
.pretty .facility-header .asc {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZ0lEQVQ4y2NgGLKgquEuFxBPAGI2ahhWCsS/gDibUoO0gPgxEP8H4ttArEyuQYxAPBdqEAxPBImTY5gjEL9DM+wTENuQahAvEO9DMwiGdwAxOymGJQLxTyD+jgWDxCMZRsEoGAVoAADeemwtPcZI2wAAAABJRU5ErkJggg==);
}

.pretty th .desc,
.pretty .facility-header .desc {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZUlEQVQ4y2NgGAWjYBSggaqGu5FA/BOIv2PBIPFEUgxjB+IdQPwfC94HxLykus4GiD+hGfQOiB3J8SojEE9EM2wuSJzcsFMG4ttQgx4DsRalkZENxL+AuJQaMcsGxBOAmGvopk8AVz1sLZgg0bsAAAAASUVORK5CYII=);
}
//===****===

#scorecards-show {
  .modal-dialog {
    @media (min-width: 576px) {
      max-width: 700px;
    }
  }
}

.veticial-line {
  height: 30px;
  margin-left: 20px;
  border-left: 2px dashed;
}

.filter-input {
  width: 280px;
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}

.section {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;

  legend {
    width: auto;
  }
}

[id^="scorecards"] {
  #datepicker-popup {
    width: 100%;
  }

  .filter-backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    position: absolute;
    z-index: 5;
  }

  #add-filter {
    &__modal {
      display: none;
      position: absolute;
      z-index: 6;
      min-width: 578px;
      top: 32px;
      left: -3px;
    }
  }
}
