#programs-settings-show {
  .dotted-line {
    border-bottom: 1px dotted;
    margin-bottom: 1em;
  }

  .modal-dialog {
    max-width: 580px;
  }

  @media (max-width: 576px) {
    .view-center {
      width: 100% !important;
    }
  }
}

.line {
  border: 1px solid #17a2b8;
  height: 0;
  margin: 30px 0;
}

.or-label {
  padding: 16px 8px;
}

.radio-buttons {
  .form-check-input.is-valid ~ .form-check-label {
    color: #111;
  }
}
