// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#users-index {
  .confirm-link {
    position: absolute;
    left: -100%;
    opacity: 0;
  }

  .status {
    color: orange;
  }

  .status.actived {
    color: green;
  }

  .status.locked {
    color: red;
  }

  .status.deactivated {
    color: #dc3545;
  }

  .status.archived {
    color: #6c757d;
  }

  .search-email {
    width: 300px;
  }

  .nav-justified {
    width: 300px;
  }

  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {
    .search-email,
    .nav-justified {
      width: auto;
    }
  }
}
