.public-vote-container
  .container.mt-5
    .row.justify-content-center
      .col-md-10
        .card.shadow-sm
          = render 'votes/header'

          .card-body
            .d-flex.flex-column.align-items-center.justify-content-center.py-5
              -# Lock icon
              %div.d-flex.align-items-center.justify-content-center{style: 'width:120px; height:120px;'}
                .btn-lock.text-danger
                  %i.fas.fa-lock

              -# Text content
              .text-center
                %h3.mt-3.mb-2= t('public_votes.voting_closed')
                %p.text-muted.mb-4= t('public_votes.voting_closed_message')
