.public-vote-container
  .container.mt-5
    .row.justify-content-center
      .col-md-10
        .card.shadow-sm
          = render 'votes/header'

          .card-body
            .d-flex.flex-column.align-items-center.justify-content-center.py-5.position-relative
              -# Congratulations animation
              = image_tag 'congratulations.gif', alt: t('public_votes.congrats_alt', default: 'Congratulations'), class: 'congrats-image img-fluid mt-3', id: 'congrats'
              #doneAnimation{data: { icon_url: asset_path('done.json') }}

              -# Text content
              .text-center
                %h3.mt-3.mb-2= t('public_votes.thank_you_title', default: 'Thank you!')
                %p.text-muted.mb-4= t('public_votes.thank_you_message', default: 'Your vote has been recorded.')
